input[type=text]:focus {
    background-color: lightblue;
}
input[type=password]:focus{
    background-color: lightblue;
}
body{
    text-align: center;
}
form{
    border: 3px solid lightblue;
    display: inline-block;
}