{% extends 'homepage/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/donations.css' %}">
{% endblock %}

{% block content %}

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

    <h1>Please support us to build better website!</h1>
    <img src="{% static '/img/donate-drawings-750.jpg' %}" alt="donations image">
    <br>
    <div id="outer">
        <button class="inner" onclick="displayMessage(1)">$1,000</button><br><br>
        <button class="inner" onclick="displayMessage(2)">$10</button><br><br>
        <button class="inner" onclick="displayMessage(3)">Maybe next time</button><br>
    </div>
    <br>
    <script>
         function displayMessage(x) {
             if(x == 1)
             { alert("Thank you so much!"); }
             if(x == 2)
             { alert("It's holiday season, you could do better"); }
             if(x == 3)
             { alert("Really"); }
         };
    </script>

    <a href="{% url 'index' %}">Return to the homepage</a>

{% endblock content %}
