{% extends 'homepage/base.html' %}
{% block title %}Quiz!{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}
{% block content %}

    <h1>CS 416 Quiz</h1>
    <h4>Good luck!</h4>

    {% for q in questions %}

        <div id="div{{ q.questionID }}" style="margin-bottom:30px; margin-top:30px"></div>
        <div id="hide{{ q.questionID }}">
        <p><strong>{{ q.questionID|add:1 }}) {{ q.questionText }}</strong></p>


        {% for a in answers %}

            {% if q.questionID == a.questionID %}


                    <input type="radio" name="{{ a.questionID }}" value="{{ a.answerText }}">{{ a.answerText }}<br>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $("input[name='{{ a.questionID }}']").click(function(){
            var checked = $("input[name='{{ q.questionID }}']:checked").val();
            $.ajax(
                {
                    type: "GET",
                    url: "/isCorrect",
                    data: {
                        answer: checked,
                        answerID: {{ a.questionID }},
                        quizID: {{ quizID }}
                    },
                    success: function(result)
                    {
                        $("#div{{ q.questionID }}").text(result);
                        $("#hide{{ q.questionID }}").hide();
                }});
            });
    });

</script>

            {% endif %}

        {% endfor %}
        </div>
    {% endfor %}
    <br>
    <a href="{% url 'getScore' %}">Submit and see scores</a>



{% endblock %}



